// @media screen AND(min-width: 1130px) {
//     #menuHead {
//         padding: 136.5px 0;
//     }

//     .menuHead3 {
//         padding: 174px 0 !important;
//     }
// }

@media screen AND(min-width:768px) {
    #cardsMain {
        .cardFlow {
            width: 100% !important;

            .card {
                flex-basis: 40% !important;
            }
        }
    }
}

@media screen AND(min-width:998px) {
    #cardsMain {
        .cardFlow {
            width: 100% !important;
            gap: 30px !important;

            .card {
                flex-basis: 21% !important;
                height: 250px;

                figure {
                    img {
                        height: 250px !important;
                    }
                }
            }
        }
    }
}

// @media screen AND(min-width:1300px) {
//     .card {
//         flex: 1 1 23%;

//         img {
//             height: 315px;
//         }
//     }
// }