$myFontall: "Roboto", sans-serif;
$myFonthead: "Shrikhand";
$myFirstColor: #9356dc;
$myScdyColor: #ff79da;
$myThrdyCcolor: #99e2d0;

// --------------------------------------------------- Header ---------------------------------------------------
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: $myFontall;
}

#resume,
#searchbar,
#explore,
#prepCom,
footer,
ul {
  display: flex;
  flex-direction: column;
}

body {
  header {
    display: flex;
    justify-content: center;
    flex-direction: column;

    #redirectHome {
      display: inherit;
      justify-content: inherit;
      color: inherit;
      align-items: center;
      text-decoration: inherit;
      box-shadow: 1px -2px 8px grey;
      position: relative;
      padding: 16px;

      img {
        width: 175px;
        height: 100%;
        align-items: center;
        margin: auto;
      }
    }

    #search {
      background-color: rgb(235, 235, 235);
      gap: 10px;
      height: 32px;

      i {
        margin: auto 0;
      }

      #searchbar {
        font-size: 20px;
        resize: none;
        background-color: transparent;
        border: none;
        font-family: $myFontall;
        outline-color: black;

        &::placeholder {
          color: black;
        }
      }
    }

    #explore {
      background-color: rgb(248, 248, 248);
      text-align: center;
      align-items: center;
      gap: 10px;
      padding-top: 36px;

      h2 {
        width: 65vw;
      }

      >p {
        width: 75vw;
      }
    }

    #search {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  #purpleButton {
    width: 232px;
    height: 50px;
    border-radius: 36vw;
    border: none;
    background: linear-gradient(175deg, #ff79da, #9356dc);
    margin: 0 auto 45px auto;

    span {
      font-weight: bold;
      color: white;
    }
  }

  #resume {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    margin: 5vh auto;
    gap: 25px;
    width: 95%;

    h2 {
      display: inherit;
      align-self: baseline;
    }

    .columnH2 {
      display: inherit;
      flex-flow: row wrap;
      justify-content: center;
      gap: 20px;

      button {
        background-color: transparent;
        border-radius: 15px;
        display: flex;
        width: 313px;
        height: 64px;
        border: none;
        box-shadow: 0px 2px 4px 3px rgb(240 240 240);
        background-color: rgb(248, 248, 248);
        gap: 10px;
        align-items: center;
        padding-left: 24px;
        position: relative;

        &:hover {
          background-color: #ebdbff;

          .fontAweFonct {
            color: $myFirstColor;
          }
        }

        .numberFonct {
          background-color: $myFirstColor;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: flex;
          position: absolute;
          left: -12px;

          .fontColor {
            color: white;
            font-size: 16px;
            margin: auto;
          }
        }

        .fontAweFonct {
          color: grey;
        }

        i::before {
          font-size: 16px;
        }

        .fontWeight {
          margin: auto;
          margin-left: 30px;
          font-weight: bold;
        }
      }
    }
  }

  #cardsMain {
    display: flex;
    width: 100%;
    background-color: rgb(248, 248, 248);

    #coloGreyWidth {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      gap: 30px;
      margin: 81.5px auto;
      width: 95%;

      h2 {
        width: 100%;
      }

      a {
        text-decoration: none;
        color: black;
      }

      .card {
        border-radius: 16px;
        gap: 10px;
        box-shadow: 2px 2px 2px 2px rgb(240, 240, 240);
        width: 360px;
        margin: auto;
        position: relative;

        img {
          width: 100%;
          height: 160px;
          object-fit: cover;
          border-radius: 16px 16px 0 0;
        }

        .newSpan {
          background-color: #99e2d0;
          padding: 7px;
          position: absolute;
          font-size: 14px;
          color: #206655;
          top: 10px;
          right: 10px
        }

        .container {
          display: flex;
          justify-content: space-between;
          padding: 1.5vh 1vw 1.5vh 2vw;
          padding-left: 1vh;

          .content {
            justify-content: flex-start;

            h5 {
              font-weight: normal;
            }
          }

          i {
            font-weight: normal;
            margin: auto 0;
          }

          .fa-heart:hover {
            font-weight: bold;
            color: transparent;
            background-clip: text;
            background-image: linear-gradient(40deg, #ff79da, #9356dc);
          }
        }
      }
    }
  }

  footer {
    background-color: rgb(56, 55, 55);
    color: white;
    gap: 10px;
    padding: 20px;

    h2 {
      font-family: $myFonthead;
    }

    ul {
      gap: 5px;

      li {
        font-weight: normal;
        list-style-type: none;
        display: flex;

        &:first-of-type {
          gap: 10px;
        }

        &:nth-of-type(2) {
          gap: 5px;
        }
      }
    }
  }
}